// ==========================================================================
// Buttons
// ==========================================================================
.btn {
  @include bg-colors($ui-colors);
}

[class^="btn--"] {
  @extend %center-align;
  @extend %btn;
  display: inline-block;
  margin-bottom: em(20px, 14px);
  margin-right: em(15px, 14px);
  width: auto;
}
