// ==========================================================================
// Headlines
// ==========================================================================
.headline {

  &-primary {
    @extend %headline-primary;
    margin-bottom: em(70, 42);

    @include m(grouped) {
      @extend %headline-primary;
      margin-bottom: 0;
    }
  }

  &-secondary {
    @extend %headline-secondary;
    margin-bottom: em(22, 24);

    @include m(grouped) {
      @extend %headline-secondary;
      margin-bottom: em(54, 24);
      margin-top: em(10, 24);
    }
  }
}
